 @model List<Product_MVC.Entities.Product> 
@{
	ViewData["Title"] = "Home Page";
}

<style>
	.user-table {
		font-family: Arial, sans-serif;
		border-collapse: collapse;
		width: 100%
	}

i{
	background-color:green;
	color:#fff;
}

body {
	height: auto;
	width: auto;
	margin: 2px;
	padding: 2px;
	font-family: sans-serif;
	background-size: cover;
}

.user-table thead th {
	padding: 15px;
	background-color: orange;
	text-align: left;
	border: 2px solid black;
}

.user-table tbody td {
	padding: 15px;
	text-align: left;
	border: 2px solid yellow;
}

.user-table tbody tr:nth-child(even) {
	background-color: #8df542;
}

.user-table tbody tr:hover {
	background-color: #8df542;
}

.filter-div {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	align-items: center;
	gap: 2px;
	> button{
		width:100%;
	}
}
</style>
<h1>Products</h1>
@if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
{
		<a asp-controller="Product" asp-action="AddProduct" class="btn btn-pill btn-outline-info" style="width: 10%;">
			<i class="fa fa-sign-in mr-1"></i> Add
		</a>	
		<a asp-controller="AuditView" asp-action="Index" class="btn btn-info">
			 Audit
		</a>

	<button class="btn btn-info" onclick="location.pathname = 'swagger'">API Swagger</button>
}


<table class="user-table" style="width:100%">
	<thread>
		<tr>
			<th>Id</th>
			<th>ItemName</th>
			<th>Price</th>
			<th>Quantiy</th>
			<th>Total Price + VAR(10%)</th>
			@if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
			{
			<th>Action</th>
			}
		</tr>
	</thread>
	<tbody>
		@foreach (var tem in Model)
		{
			<tr>
				<td>@tem.Id</td>
				<td>@tem.ItemName</td>
				<td>@tem.Price</td>
				<td>@tem.Quantiy</td>
				<td>@tem.TotalPrice</td>
				@if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
				{
					<td>
						<div class="  w-full filter-div ">
							<form asp-controller="Product " asp-action="DeleteProduct" method="post" enctype="multipart/form-data" style="margin: 5px auto;">
							<div >
								<input name="Id" asp-for="@tem.Id" type="hidden" id="form1-Admin" placeholder="Id">
								<button asp-controller="Product" asp-action="DeleteProduct" type="submit" class="btn btn-pill btn-danger" style="width: 100%;">
									 Delete
								</button>
							</div>
							</form>
							<form asp-controller="Product " asp-action="UpdateProduct" method="get" enctype="multipart/form-data"  style="margin: 5px auto;">
								<div >
									<input name="Id" asp-for="@tem.Id" type="hidden" id="form4-Admin" placeholder="Id"> 
									<input name="ItemName" asp-for="@tem.ItemName" type="hidden" id="form1-Admin" placeholder="ItemName">
									<input name="Quantiy" asp-for="@tem.Quantiy" type="hidden" id="form2-Admin" placeholder="Quantiy">
									<input name="Price" asp-for="@tem.Price" type="hidden" id="form3-Admin" placeholder="Price">
									<button asp-controller="Product" asp-action="UpdateProduct" type="submit" class="btn btn-pill btn-primary" style="width: 100%;">
										 Update
									</button>

								</div>
							</form>
						</div>
					</td>
				}
			</tr>
		}
	</tbody>
</table>
  