@model List<Product_MVC.Entities.Product>
@{
	ViewData["Title"] = "Home Page";
}
<div class="xush">
	<h1>Xush Kelibsiz</h1>
</div>
<style>
	.user-table {
		font-family: Arial, sans-serif;
		border-collapse: collapse;
		width: 100%
	}
	.xush{
		text-align:center;
		background: linear-gradient(rgba(0,0,0,0.5),#009688);
		color:#fff;
	}

	body {
		height: auto;
		width: auto;
		margin: 2px;
		padding: 2px;
		background: url(https://images.pexels.com/photos/688660/pexels-photo-688660.jpeg?cs=srgb&dl=pexels-simon-berger-688660.jpg&fm=jpg);
		font-family: sans-serif;
		background-size: cover;
	}

	.user-table thead th {
		padding: 15px;
		background-color: orange;
		text-align: left;
		border: 2px solid black;
	}

	.user-table tbody td {
		padding: 15px;
		text-align: left;
		border: 2px solid yellow;
	}

	.user-table tbody tr:nth-child(even) {
		background-color: #8df542;
	}

	.user-table tbody tr:hover {
		background-color: #8df542;
	}
</style>
<table class="user-table" style="width:100%">
	<thread>
		<tr>
			<th>Id</th>
			<th>ItemName</th>
			<th>Price</th>
			<th>Quantiy</th>
			<th>TotalPrice</th>
		</tr>
	</thread>
	<tbody>
		@foreach (var tem in Model)
		{
			<tr>
				<td>@tem.Id</td>
				<td>@tem.ItemName</td>
				<td>@tem.Price</td>
				<td>@tem.Quantiy</td>
				<td>@tem.TotalPrice</td>

			</tr>
		}
	</tbody>
</table>
